<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - finanzas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body class="body-small pace-done skin-1">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">asd <b class="caret"></b></strong>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">
                            MMMM
                        </div>
                    </li>

                    <li class="">
                        <a href="">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">Inicio</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg" style="margin-bottom:25px;">

            <!-- Top Navbar -->
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Hola,c</span>
                        </li>
                        <li>
                            @using (Html.BeginForm("SingOut", "Login", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="fa fa-power-off"></i> Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <h2 class="IconoBarra">@ViewBag.Detalle</h2>
                    <ol class="breadcrumb">
                        <li>@ViewBag.Modulo</li>
                        <li class="active">
                            <strong>@ViewBag.Title</strong>
                        </li>
                    </ol>
                </div>
            </div>

            <!-- Main view  -->
            <div id="Cuerpo" class="hide">
                <br>
                @RenderBody()
            </div>

        </div>
        <!-- Footer -->
        <div class="footer" style="position: fixed;">
            <div>
                <strong>Copyright</strong>s &copy; @DateTime.Now.Year Todos los Derechos Reservados. V 1.0.0.0
            </div>
        </div>
        <!-- End page wrapper-->
        <div class="hide">
            <div id="confCulture" data-separadormiles="@System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberGroupSeparator" data-separadordecimal="@System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator"></div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js" ></script>
    <script src="~/lib/vue.js" ></script>
    <script src="~/lib/axios.min.js" ></script>
    <script src="~/lib/metisMenu/metisMenu.min.js" ></script>
    <script src="~/lib/slimscroll/jquery.slimscroll.min.js" ></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" ></script>
    <script src="~/js/global.js" ></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
